<div class="login-page" >
  <div class="row justify-content-md-center">
    <div class="col-md-4">

      <h1>Login</h1>

      <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()">
  <div class="form-content">
    <div class="form-group">
      <label class="control-label col-sm-2" >Email:</label>
      <input type="email" name="email" class="form-control input-underline input-lg col-sm-6" id="email"  placeholder="Email"  [formControl]="loginForm.controls['email']">
      <div *ngIf="loginForm.controls['email'].hasError('required') && (loginForm.controls['email'].touched || submitted)" class="error-container">
        <p>Email is required</p>
      </div>
      <div *ngIf="loginForm.controls['email'].hasError('pattern') && (loginForm.controls['email'].touched || submitted)" class="error-container">
        <p>Email is invalid</p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" >Password:</label>
      <input type="password" class="form-control input-underline input-lg col-sm-6" id="password" placeholder="Password" [formControl]="loginForm.controls['password']">
      <div *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].touched || submitted)" class="error-container">
        <p>Password is required</p>
      </div>
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Log in" (click)="submitted = true">
  &nbsp;
</form>
      <br>
      <a  [routerLink]="['../../auth/register']">Register</a>

    </div>
  </div>
</div>
