<div class="login-page" >
  <div class="row justify-content-md-center">
    <div class="col-md-4">

      <h1>Register</h1>
      <form role="form" [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onSubmit()">
        <div class="form-content">
          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg"  placeholder="Full Name" [formControl]="registerForm.controls['first_name']">
            <div *ngIf="registerForm.controls['first_name'].hasError('required') && (registerForm.controls['first_name'].touched || submitted)" class="error-container">
              <p>FirstName is required</p>
            </div>
            <div *ngIf="registerForm.controls['first_name'].hasError('maxlength') && (registerForm.controls['first_name'].touched || submitted)" class="error-container">
              <p>First Name max is 50</p>
            </div>
          </div>

          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg"  placeholder="Last name" [formControl]="registerForm.controls['last_name']">
            <div *ngIf="registerForm.controls['last_name'].hasError('required') && (registerForm.controls['last_name'].touched || submitted)" class="error-container">
              <p>Last Name is required</p>
            </div>
            <div *ngIf="registerForm.controls['last_name'].hasError('maxlength') && (registerForm.controls['last_name'].touched || submitted)" class="error-container">
              <p>Last Name max is 50</p>
            </div>
          </div>

          <div class="form-group">
            <input type="email" class="form-control input-underline input-lg" placeholder="Email" [formControl]="registerForm.controls['email']">
            <div *ngIf="registerForm.controls['email'].hasError('required') && (registerForm.controls['email'].touched || submitted)" class="error-container">
              <p>Email is required</p>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" placeholder="Username" [formControl]="registerForm.controls['username']">
            <div *ngIf="registerForm.controls['username'].hasError('required') && (registerForm.controls['username'].touched || submitted)" class="error-container">
              <p>Phone Number is required</p>
            </div>
            <div *ngIf="registerForm.controls['username'].hasError('maxlength') && (registerForm.controls['username'].touched || submitted)" class="error-container">
              <p>Phone number max is 50</p>
            </div>
          </div>

          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" placeholder="Password" [formControl]="registerForm.controls['password']">
            <div *ngIf="registerForm.controls['password'].hasError('required') && (registerForm.controls['password'].touched || submitted)" class="error-container">
              <p>Password is required</p>
            </div>
          </div>

          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" placeholder="Repeat Password" [formControl]="registerForm.controls['confirm_password']">
            <div *ngIf="registerForm.controls['confirm_password'].hasError('required') && (registerForm.controls['confirm_password'].touched || submitted)" class="error-container">
              <p>Confirm Password is required</p>
            </div>
            <div *ngIf="registerForm.controls['confirm_password'].dirty && registerForm.hasError('mismatchedPasswords') && !registerForm.controls['confirm_password'].hasError('required')" class="error-container">
              <p>Password don't match</p>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" (click)="submitted = true"> Register </button>&nbsp;
      </form>
      <br>
      <a  [routerLink]="['../../auth/login']"> Log in </a>

    </div>
  </div>
</div>
