<div class="container">
  <br>
  <div class="row btn-right">


    <button class="btn btn-primary " (click)="logout()">Logout</button>
  </div>
  <br>
  <br>

  <h2>Users</h2>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Username</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i =index">
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>
        <button class="btn btn-danger" (click)="delete(user._id , i)"> Delete </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


